node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
dist
.vscode
test/stories/__screenshots__
*storybook.log
storybook-static

packages/*/dist
**/.cache/
apps/*/dist
apps/*/storybook-static
**/__screenshots__/*
apps/react-example/.vitest-attachments
**/.vitest-attachments/
apps/react-example/coverage
packages/*/coverage
packages/core/src/**/*.d.ts
packages/**/*.tgz
packages/**/.stryker-tmp
packages/**/.vitest-web-ext-cache
